# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info

# PyInstaller
*.spec

# VS Code
.vscode/

# Mac / Windows
.DS_Store
Thumbs.db

# Logs
*.log